* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}

.global {
  // min-height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 60vh;
}

.global > section,
.global > header,
.global > footer {
  flex: 0 1 900px;
  // border: 1px solid grey;
  padding: 3rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}

#accueil {
  background-color: var(--couleur-accueil);
  color: rgba(#313f5c, var(--transparence-h1-valeur));
}

#entete,
#footer {
  min-height: 20vh;
}

#entete {
  background-color: var(--couleur-entete);
  color: var(--couleur-entete);
  // background-image: url(https://img.freepik.com/photos-gratuite/belles-fleurs-gouttes-eau_23-2150705688.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // filter: opacity(80%);
}

#evenement {
  background-color: var(--couleur-evenement);
  color: rgba(#31565c, var(--transparence-h1-valeur));
}

#galerie {
  height: var(--valeur-largeur-galerie);
  background-color: var(--couleur-galerie);
  color: rgba(#31335c, var(--transparence-h1-valeur));
}

#footer {
  background-color: var(--couleur-footer);
  color: rgba(#ffffff, var(--transparence-h1-valeur));
}
